<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME POKEMON</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='1.css') }}"
    />
    <link
    
    
    />
</head>
<body>
    <center>
        <img
            src="https://cdn.bulbagarden.net/upload/3/3c/Season8_logo.png"
        />
        <form action="http://localhost:5000/hasil" method="post">
            <p>
                <input name="namapokemon1" type="text" placeholder="Pokemon 1...."/>
            </p>

            <img
            src="https://www.honeybadger.io/images/hb_vs.png" style="width:200px;height:200px;" 
            />

            <p>
                <input name="namapokemon2" type="text" placeholder="Pokemon 2...."/>
            </p>


            <p>
                <input type="submit" value="Battle!"/>
            </p>
        </form>

    </center>

    
</body>
</html>