<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR</title>
    <link rel="stylesheet" type="text/css" href="../static/1.css">
</head>
<body>
    <center>
    <h1>
    <img src="https://archive-media-1.nyafuu.org/vp/image/1512/00/1512001609452.png" alt="Error" style="width:800px;height:450px">
    </h1>

    <br>
        <form action="http://localhost:5000/">
            <p> 
            <input type="submit" value="Kembali">
            </p>
        </form>
    </center>
</body>
</html>