<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME POKEMON</title>
    <link rel="stylesheet" type="text/css" href="../static/1.css">
</head>
<body><center>
        <h1><b>
            <img src="https://cdn.bulbagarden.net/upload/3/3c/Season8_logo.png" alt="Pokemon">
        </b></h1>
            <form action="http://localhost:5000/hasil" method="post">
            <p>
                <input name="nama1" type="text" placeholder="Nama Pokemon 1" required>&nbsp;VS&nbsp;<input name="nama2" type="text" placeholder="Nama Pokemon 2" required></p>
            <p>
                <input type="submit" value="Battle!" color='red'>
            </p>
            </form>
</center></body>
</html>